<% include templates/header.ejs%>
    <% include templates/navBar.ejs%>

        <div class="contenedor">
            <h1>Registro de Actividades del Hogar</h1>
            <form method="get" action="/" class="formulario">
                <% include templates/formulario.ejs%>
            </form>
        </div>

<% include templates/footer.ejs%>