<% include templates/header.ejs%>
   <div class="contenedor">
       <h1>Formulario de Registro de Actividades</h1>
       <div class="contenedor-botones">
        <center>
            <button onclick="mostrarFormulario()" id="btn-validar" class="validar">Ir A</button>
        </center>
       </div>
   </div>
   <script src="../javascripts/validaciones.js"></script>
<% include templates/header.ejs%>