<% include templates/header.ejs%>
   <div class="contenedor">
       <h1>Formularios de Registro de Actividades</h1>
       <div class="contenedor-botones">
        <p> Mujer
            <input type="radio" id="mujer" name="sexo" value="Mujer">
        </p>
        <p> Hombre
            <input type="radio" id="hombre" name="sexo" value="Hombre">
        </p>
        
       </div>
        <center>
            <button onclick="validarRadioButtom()" id="btn-validar" class="validar">Ir A</button>
        </center>
   </div>
   <script src="../javascripts/validaciones.js"></script>
<% include templates/header.ejs%>