<div class="contenedor__formulario">
    <form method="post" action="/registro" class="formulario">
        <div>
            <label for="platos" class="formulario__label">Lavar Platos</label>
            <input type="text" class="formulario__input" id="platos" name="platos" required>
        </div>
        <div>
            <label class="formulario__label" for="">Cocinar</label>
            <input class="formulario__input" type="text" id="cocinar" name="cocinar">
        </div>
        <div>
            <label class="formulario__label" for="">Barrer</label>
            <input class="formulario__input" type="text" id="barrer" name="barrer">
        </div>
        <div>
            <label class="formulario__label" for="">Planchar</label>
            <input class="formulario__input" type="text" id="planchar" name="planchar">
        </div>
        <div class="radio">
            <center>
                <h3>¿Quién realiza la actividad?</h3>
                <label>
                    <input type="radio" name="genero" id="input" value="">
                    Mujer
                </label>
                <label>
                    <input type="radio" name="genero" id="input" value="">
                    Hombre
                </label>
            </center>
        </div>
        <div>
            <center>
                <button class="formulario__boton" name="guardar" type="submit" class="">Guardar Actividades</button>
            </center>
        </div>
    </form>
</div>