<div>
    <label for="platos" class="formulario__label">Lavar Platos</label>
    <input type="text" class="formulario__input" id="platos" name="platos" required>
</div>
<div>
    <label class="formulario__label" for="cocinar">Cocinar</label>
    <input class="formulario__input" type="text" id="cocinar" name="cocinar" required>
</div>
<div>
    <label class="formulario__label" for="barrer">Barrer</label>
    <input class="formulario__input" type="text" id="barrer" name="barrer" required>
</div>
<div>
    <label class="formulario__label" for="planchar">Planchar</label>
    <input class="formulario__input" type="text" id="planchar" name="planchar" required>
</div>
<div class="radio">
    <center>
        <h3>¿Quién realiza la actividad?</h3>
        <label>
            <input type="radio" name="genero" id="mujer" value="Mujer">
            Mujer
        </label>
        <label>
            <input type="radio" name="genero" id="hombre" value="Hombre">
            Hombre
        </label>
    </center>
</div>
<div>
    <center>
        <button class="formulario__boton" name="guardar" type="submit">Guardar Actividades</button>
    </center>
</div>