<header>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/formGet">Nueva Actividad Get</a></li>
            <li><a href="/formPost">Nueva Actividad Post</a></li>    
        </ul>
    </nav>
</header>